.selecta-wrap{
	display: inline-block;
	width: 100%;
	position:relative;
}

.selecta-wrap:before,
.selecta-wrap:after{
	position:absolute;
	content:'';
	width:16px;
	height:3px;
	background: #333333;
	display:block;
	margin:auto;
	top:0px;
	bottom:0px;
	right:15px;
	transition: all 0.2s cubic-bezier(0.34, -0.4, 0.42, 1.4);
}

.selecta-wrap:before{
	transform:rotateZ(45deg);
	right:25px;
}
.selecta-wrap:after{
	transform:rotateZ(-45deg);
}

.selecta-open.selecta-wrap:before{
	transform:rotateZ(-45deg);
}
.selecta-open.selecta-wrap:after{
	transform:rotateZ(45deg);
}

.selecta-wrap .selecta-selected{
	display:block;
	width: 100%;
	background:#ffffff;
	padding:15px;
	user-select:none;
	cursor: pointer;
	border: none;
}

.selecta-wrap .selecta-placeholder{
	display:block;
	width: 100%;
	background:#ffffff;
	padding:15px;
	user-select:none;
	cursor: pointer;
}

.selecta-wrap .selecta-item-wrap{
	position:absolute;
	width:100%;
	display:none;	
}

.selecta-wrap.selecta-open .selecta-item-wrap{
	display:block;
	z-index: 1000;
}

.selecta-wrap .selecta-item-wrap .selecta-item{
	display:block;
	width: 100%;
	background:#ffffff;
	padding:10px 15px;
	cursor: pointer;
}

.selecta-wrap .selecta-item-wrap .selecta-item:hover{
	display:block;
	color:#ffffff;
	width: 100%;
	background:#333333;
	padding:10px 15px;
}